<% provide(:title, "Help") %>
<h1>StaticPages#help</h1>
  <p>
    here is where to get help:
    <a href="https://www.google.com">google!</a>
    but seriously, here is useful:
    <a href="https://www.nyt.com">NYT</a>
  </p>



